/* Form Config Common for All Sections */
.user-form-section {
    max-width: 640px;
}

.user-form {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.asteriskField {
    display: none;
}

#hint_id_username {
    display: none;
}

#id_bio {
    height: 80px;
}

.invalid-feedback {
    margin-bottom: 0;
}

.form-control {
    height: 30px;
    background-color: #fafbfc;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.message {
    font-size: 14px;
    color: #212529;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.form-check {
    display: inline;
    margin-right: 10px;
}

.form-check-label {
    margin-top: 1px;
    display: inline-block;
    margin-left: 2px;
}

label {
    font-weight: 500;
}