{% extends 'main/signup.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}FindREDD | Create new password {% endblock %}

<!-- Navbar Extension -->
{% block navbar-signin %}
{% endblock %}

{% block navbar-signup %}
    <li class="nav-items ml-lg-3 mt-2 mt-lg-1 mb-3 mb-lg-0"><a href="{% url 'signup' %}" class="btn nav-btn btn-sm">Sign up</a></li>
{% endblock %}

<!-- Create New Password Section -->
{% block main-content %}

<div class="container-sm user-form-section py-5">
    <h1 class="text-center">Create new password</h1>
    <p class="text-muted text-center">Welcome back</p>

    <div class="user-form">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <small class="text-muted">Always use combination of letters/digits/symbols to make your password stronger.</small>
            <button type="submit" name="submit" class="btn btn-primary btn-block btn-lg mt-2"><small>Create new password</small></button>
        </form>
    </div>

</div>

{% endblock %}