{% extends 'main/signup.html' %}
{% load static %}

{% block title %}FindREDD | Password reset email sent {% endblock %}

<!-- Navbar Extension -->
{% block navbar-signin %}
    <li class="nav-items"><a href="{% url 'signin' %}" class="nav-link">Sign in</a></li>
{% endblock %}

{% block navbar-signup %}
{% endblock %}

<!-- Password Reset Email Sent Section -->
{% block main-content %}

<div class="container-sm user-form-section text-center py-5">
    <h1 class="text-center">Password reset email sent</h1>
    <p class="text-muted">Check your email for a link to reset your password.<br> If it doesn’t appear within a few minutes, check your spam folder.</p>
    <a href="{% url 'signin' %}" class="btn btn-primary btn-sm mt-2">Return to sign in</a>
</div>

{% endblock %}