{% extends 'main/signup.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}FindREDD | Reset your password {% endblock %}

<!-- Navbar Extension -->
{% block navbar-signin %}
    <li class="nav-items"><a href="{% url 'signin' %}" class="nav-link">Sign in</a></li>
{% endblock %}

{% block navbar-signup %}
{% endblock %}

<!-- Password Reset Section -->
{% block main-content %}

<div class="container-sm user-form-section py-5">
    <h1 class="text-center">Reset your password</h1>
    <p class="text-muted text-center">Forget password?</p>

    <div class="user-form">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <small class="text-muted">Enter your user account's verified email address and we will send you a password reset link.</small>
            <button type="submit" name="submit" class="btn btn-primary btn-block btn-lg mt-2"><small>Send password reset email</small></button>
        </form>
    </div>
    
</div>

{% endblock %}