{% extends 'main/settings_profile.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}FindREDD | Settings - Security {% endblock %}

{% block navigation-bar-settings %}
<span>
    <a href="{% url 'settings' 'security' %}"><small><b>Security</b></small></a>
</span>
{% endblock %}

{% block sidebar-profile-div-active %} class="sidebar-item" {% endblock %}
{% block sidebar-profile-link-active %} class="nav-link sidebar-link" href="{% url 'settings' 'profile' %}" {% endblock %}

{% block sidebar-security-div %} class="sidebar-item-last-active" {% endblock %}
{% block sidebar-security-link %} class="nav-link sidebar-link-active" {% endblock %}

{% block user-form-section %}
<h4><b>Security settings</b></h4><hr>

<form method="POST" class="user-form settings-form">
    {% csrf_token %}
    <div class="user-form-field">
        {{ form|crispy }}
    </div>

    <button type="submit" class="btn btn-success btn-sm">Update password</button>
</form>

{% endblock %}
